        <style>
            .center {
                text-align: center;
            }
        </style>
        <footer class="center">
            <nav>
                <a href="https://webpages.charlotte.edu/sconsueg/" target="_blank">CLT Web</a>
                <a href="https://samuelconsuegra37-dev.github.io" target="_blank">GitHub.io</a>
                <a href="https://github.com/samuelconsuegra37-dev" target="_blank">GitHub</a>
                <a href="https://www.freecodecamp.org/samuelcosuegra" target="_blank">freeCodeCamp</a>
                <a href="https://www.codecademy.com/profiles/SamuelConsuegra" target="_blank">Codecademy</a>
                <a href="https://www.linkedin.com/in/samuelconsuegra1253/" target="_blank">LinkedIn</a>
                
            </nav>
            <a href="consuegra.group/">Designed by Samuel Consuegra Group</a>
            <p class="center"><em><blockquote>I like to code</blockquote></em></p>
            <p class="center">Samuel Consuegra ©2026</p>
        </footer>