        <footer style="text-align: center;">
            <nav>
                <a href="https://samuelconsuegra37-dev.github.io/" target="_blank">Webspace</a>
                <a href="https://github.com/samuelconsuegra37-dev" target="_blank">GitHub.com</a>
                <a href="https://github.com/samuelconsuegra37-dev/samuelconsuegra37-dev.github.io" target="_blank">Github.io</a>
                <a href="https://www.freecodecamp.org/samuelcosuegra" target="_blank">FreeCodeCamp</a>
                <a href="https://www.codecademy.com/profiles/SamuelConsuegra" target="_blank">Codecademy</a>
                <a href="https://www.linkedin.com/in/samuelconsuegra1253/" target="_blank">LinkedIn</a>
                <a href="consuegra.group/">Samuel Consuegra Group</a>
            </nav>
            <p style="text-align: center;">Samuel Consuegra ©2026</p>
        </footer>