        <header>
            <h1 style="text-align: center;">Samuel Consuegra | Sneaky Crocodile | ITIS3135</h1>
            <nav style="text-align: center;">
                <a href="index.html">Home</a>
                <a href="introduction.html">Introduction</a>
                <a href="contract.html">Contract</a>
                <a href="about.html">About</a>
                <a href="inventory.html">Inventory</a>
                <a href="playingcards.html">Playing Cards</a>
                <a href="productlanding.html">Product Landing</a>
                <a href="survey.html">Survey</a>
                <a href="instructions.html">Instructions</a>
            </nav>
        </header>