        <style>
            header {
                text-align: center;
            }
        </style>
        <header>
            <h1>Samuel Consuegra's Sneaky Crocodile | ITIS3135</h1>
            <nav>
                <a href="index.html">Home</a> |
                <a href="introduction.html">Introduction</a> |
                <a href="contract.html">Contract</a> |
                <a href="about.html">About</a> |
                <a href="inventory.html">Inventory</a> |
                <a href="playingcards.html">Playing Cards</a> |
                <a href="productlanding.html">Product Landing</a> |
                <a href="survey.html">Survey</a> |
                <a href="instructions.html">Instructions</a> |
                <a href="website_evaluations.html">Website Evaluations</a>
            </nav>
            <nav>
                <a href="stuff/crAppYpAgE1%24%20.HTM">CRAPpy Page</a> |
                <a href="consuegra.group/">Samuel Consuegra Group</a>
            </nav>
            <br>
            <img src="images/city2.png" alt="A picture of me at the grand canyon" width="200" class="center-img">
        </header>