        <header>
            <h1 style="text-align: center;">Samuel Consuegra | Sneaky Crocodile | ITIS3135</h1>
            <nav style="text-align: center;">
                <a href="index.html">Home</a>
                <a href="introduction.html">Introduction</a>
                <a href="contract.html">Contract</a>
                <a href="about.html">About</a>
                <a href="Inventory.html">Inventory</a>
                <a href="PlayingCards.html">Playing Cards</a>
                <a href="ProductLanding.html">Product Landing</a>
                <a href="Survey.html">Survey</a>
                <a href="Instructions.html">Instructions</a>
            </nav>
        </header>